@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #d31157;
  color: #222;
  /* hide only on x axis */
  overflow-x: hidden;
  margin: 0;
}

.container {
  background-color: #fafafa;
  width: 100vw;
  min-height: 100vh;
  padding: 50px;
}

/* Content area */

.content img {
  max-width: 100%;
}

.content {
  max-width: 1000px;
  margin: 50px auto;
}

.content h1 {
  margin: 0;
}

.content small {
  color: #555;
  font-style: italic;
}

.content p {
  color: #333;
  line-height: 1.5;
}

form {
  text-align: center;
  background-color: #F6DE1C;
  padding: 50px;
}

.input_1 {
  margin-bottom: 10px;
}
#input_2 {
  margin-left: 13px;
  margin-bottom: 10px;
}

#display-result {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 50px;
  border-radius: 5px;
  margin-top: 20px;
}
